<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Requests </title>
  </head>
  <body>
    <%- include('partials/signed_in_header') %>
    <div>
      <% events.forEach( (event) => { %>
        <h1> <%= event.name %> </h1>
        <form method="POST" action="/requests/party_invite/<%=event._id%>/accept">
          <button name="response" value="accept" type="submit"> Accept </button>
        </form>
        <form method="POST" action="/requests/party_invite/<%=event._id%>/decline">
          <button name="response" value="rejected" type="submit"> Decline </button>
        </form>
      <% }) %>
      </div>
      <br>
      <div>
        <% wishlists.forEach( (wishlist) => { %>
          <h1> <%= wishlist.name %> </h1>
          <form method="POST" action="/requests/wishlist_invite/<%=wishlist._id%>/accept">
            <button name="response" value="accept" type="submit"> Accept </button>
          </form>
          <form method="POST" action="/requests/wishlist_invite/<%=wishlist._id%>/decline">
            <button name="response" value="rejected" type="submit"> Decline </button>
          </form>
        <% }) %>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>

